.navigation {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.navigation li>a {
	display: flex;
	align-items: center;
	gap: 2px;
}

@media (max-width: 425px) {
	.container {
		width: 100%;
	}

	.navigation {
		justify-content: right;
	}
}
