@values vars: "../../styles/variables.modules.css";
@values dark-2, light-4 from vars;

.container {
	padding: 1rem 2rem;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	gap: 1rem;
}

.header a {
	font-size: 0.9rem;
	color: light-4;
	text-decoration: underline;
}

.heading {
	font-size: 2rem;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 15%));
	gap: 0.5rem;
}

.list>* {
	height: 250px;
	background-color: dark-2;
}

@media (max-width: 814px) {
	.list {
		justify-content: center;
	}
}

@media (max-width: 425px) {
	.heading {
		font-size: 1.2rem;
	}

	.list {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		justify-content: start;
	}

	.list>* {
		height: 150px;
	}
}
