@values vars: "../../styles/variables.modules.css";
@values dark, dark-2, dark-3, dark-4, red-4, light, light-4, cyan-4, red, cyan-2, red-2 from vars;

.hero {
	display: grid;
	padding: 1rem 2rem;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;
	position: relative;
	margin-bottom: 4rem;
}

.hero>* {
	height: 25rem;
}

.left {
	background-color: dark;
	padding: 1rem;
}

.slideController {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 2rem;
	right: 2rem;
	display: flex;
	justify-content: space-between;
}

.left>div {
	width: 100%;
	height: 100%;
}

.one,
.three,
.five,
.seven {
	background-color: dark-4;
}

.two,
.four,
.six,
.eight {
	background-color: red-4;
}

@media (max-width: 895px) {
	.hero {
		display: flex;
		flex-direction: column;
	}

	.hero>* {
		height: 20rem;
	}
}

@media (max-width: 425px) {
	.hero>* {
		height: 15rem;
	}
}
