.shop {
	padding: 1rem 2rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

@media (max-width: 1036px) {
	.shop {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 890px) {
	.shop {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 490px) {
	.shop {
		padding: 1rem 0.5rem;
	}
}
