@values vars: "../../styles/variables.modules.css";
@values dark-3, dark from vars;

.filter {
	max-height: 50rem;
	display: grid;
	gap: 1rem;
	position: relative;
	max-width: 23rem;
}

.buttons {
	align-self: end;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(35ch, 33%));
	gap: 0.5rem;
	background-color: dark-3;
	padding: 1rem;
}

@media (max-width: 1036px) {
	.filter {
		justify-content: start;
	}

	.list {
		top: 2rem;
		left: 0;
		right: 0;
		opacity: 0;
		position: absolute;
		transition: opacity 200ms ease-out;
	}

	.buttons button {
		font-size: 0.8rem;
	}
}

@media (max-width: 890px) {
	.filter {
		align-items: center;
	}

	.buttons button {
		font-size: 1rem;
	}
}

@media (max-width: 752px) {
	.list {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 569px) {
	.filter {
		align-items: center;
	}
}
